In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('flights.csv')

In [3]:
df.head()

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.

In [4]:
df.columns

Index(['id', 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')

In [ ]:
df['year'].unique()

In [ ]:
df.drop(columns=['year'])

In [ ]:
df.isna().sum()

In [ ]:
df = df.dropna(subset=['dep_time', 'arr_time', 'arr_delay', 'air_time'])

In [ ]:
df.isna().sum()

In [ ]:
df.dtypes

In [ ]:
df['dep_time'] = df['dep_time'].astype(int)
df['dep_delay'] = df['dep_delay'].astype(int)
df['arr_time'] = df['arr_time'].astype(int)

In [ ]:
df['dep_delay'] = df['dep_delay'].astype(int)

In [ ]:
df['arr_time'] = df['arr_time'].astype(int)

In [ ]:
df['dep_time'] = df['dep_time'].astype(int)

In [ ]:
df['arr_delay'] = df['arr_delay'].astype(int)

In [ ]:
df['air_time'] = df['air_time'].astype(int)

In [ ]:
df.dtypes

In [5]:
df['origin'].unique()

array(['EWR', 'LGA', 'JFK'], dtype=object)

In [6]:
len(df['dest'].unique())

105

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df['origin'].unique()

In [ ]:
df['dest'].unique()